<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
<div class="long-bar-chart">
  <div>
    <div>
      <div style="display: block">
        <canvas baseChart height="225px"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>
    </div>
  </div>
</div>
<div class="details-container">

  <div *ngIf="details" class="details-panel">
    <table mat-table [dataSource]="tableData">

      <ng-container matColumnDef="drugs">
        <th mat-header-cell *matHeaderCellDef>
          <h3>{{heading}}</h3>
          Drugs involved
        </th>
        <td mat-cell *matCellDef="let drugData"> {{drugData.label}} </td>
      </ng-container>

      <ng-container matColumnDef="deaths">
        <th mat-header-cell *matHeaderCellDef> No. of deaths</th>
        <td mat-cell *matCellDef="let drugData"> {{drugData.deaths}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  <div *ngIf="!details" class="compare-chart">
    <div>
      <div>
        <div style="display: block">
          <canvas baseChart height="100%" width="100%"
                  [datasets]="compareChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="button-container">
  <button class="button" (click)="toggleDetails()" id="details-graph"><mat-icon>{{detailsString}}</mat-icon>Details/Graph</button>
  <button class="button" (click)="clearSelected()">Clear selected</button>
</div>
